@model c2cWebsite.Models.customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydangky)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydangky)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tienao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tienao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhtrangkichhoat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhtrangkichhoat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaysinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaysinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sodienthoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sodienthoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioitinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioitinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ismechant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ismechant)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Detail", "Index", new { })
    </div>
    }
</div>
